* {
  box-sizing: border-box;
}

body {
  /* background-color: aqua; */
  font-family: 'Press Start 2P';
}

p {
font-size: 15px;
font-weight: lighter;
}

main {
  /* background-color: rgb(42, 212, 212); */
  display: flex;
  flex-direction: row;
  text-align: center;
  max-height: 810px;
  min-height: 810px;
  margin-top: 50px;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 190px;
  flex-wrap: wrap; /*ensures the boxes wrap rather than one line*/
}

/* orignal width and height 5% */
.cell {
  width: 10%; /*need to change width & height if width size of grid changes in app.js*/
  height: 10%;
  /* border: 1px solid green; */
  background-color: #b1e425ea;
  /* height: 100vh; */
}

section {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('images/Nokia-transparent.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 208px;
  /* border: 2px solid grey; */
}
aside {
  /* background-color: bisque; */
  width: 35%;
  height: 100vh;
  /* border: 2px solid grey; */
  padding: 10px;
}

header {
  text-align: center;
  font-size: 20px;
  background-color: grey;
  padding: 1px;
}

#instruction-detail {
  background-color: cadetblue;
}

footer {
  background-color: cadetblue;
}

.snake {
  background-image: url(./images/snakeBlock.png);
  background-size: contain;
}

.food {
  background-image: url(./images/mouse.png);
  background-size: contain;
  background-repeat: no-repeat;
}

button {
  font-weight: bold;
  background-color: #1acbf4;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-size: 25px;
}