* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.cell {
  width: 5%;
  height: 5%;
  border: 1px solid green;
  /* background-color: #acccb8; */
}

.snake {
  background-image: url(./images/snake-head.jpeg);
  background-size: contain;
}

.food {
  background-image: url(./images/food-mouse.jpg);
  background-size: contain;
}